<div class="selectContainer">
  <div (click)="toggleDropdown()" class="select">
    <app-arrow [open]="open" />
  </div>

  <div class="options" *ngIf="open">
    <div
      *ngFor="let option of options"
      class="option"
      (click)="toggleOption(option)"
    >
      <span>
        {{ option.name }}
          <span>
            <button (click)="decreaseQuantity(option)">-</button>
            <button (click)="increaseQuantity(option)">+</button>
            {{ option.quantity }}
          </span>
      </span>
    </div>
  </div>
  
</div>

<ng-template #placeholderTemplate>
  <span class="withOpacity"> {{ placeholder }} </span>
</ng-template>
