<div *ngIf="todo" class="todo">
  <div class="top">
    <p *ngIf="todo.createdAt">{{ todo.createdAt | dateFormat }}</p>
    
    <div class="top" *ngIf="showCancelButton">
      <button (click)="removeTodo()">
        <p style="padding-right:5px; color: white">Cancel</p> <img src="assets/cross_mark.svg" alt="cross" />
      </button>
    </div>
    <div class="top" *ngIf="!showCancelButton">
        <p style="padding-right:5px; color: white">Ready</p><i class="fa fa-check" style="font-size:24px;color:green"></i>
    </div>
  </div>

  <div class="bottom">
    <span
    >
      {{ todo.name }}
    </span>
    <p>Ordered at: {{ todo?.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>

  </div>
  <div class="bottom">
    <span
    >
    {{ capitalizeFirstLetter(todo.syze) }} {{ capitalizeFirstLetter(todo.type) }}: {{ todo.price }}€
    </span>
    <p>{{toppings}}</p>
  </div>
  <div class="bottom">
    <p> Order Number: {{ todo.orderNumber }}</p>
  </div>
</div>
