<div class="todo-form">
  <div class="form-group">
    <label for="description">Type your name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="name"
      autocomplete="off"
      [disabled]="isPaying"
    />
  </div>

  <div class="form-group">
    <label for="description">Cup syze:</label>
    <app-dropdown
      [options]="syzeOptions"
      [optionSelected]="newSyzes"
      (onSelect)="changeSyze($event)"
      [disabled]="isPaying"
    />
  </div>

  <div class="form-group">
    <label for="description">Coffee Type:</label>
    <app-dropdown
      [options]="typeOptions"
      [optionSelected]="newCoffeeType"
      [disabled]="isPaying"
      (onSelect)="changeType($event)"
    />
  </div>

  <div class="form-group">
    <label for="description">Toppings / syrups:</label>
    <app-multi-dropdown
      [options]="toppingsOptions"
      [selectedOptions]="newToppings"
      (onSelect)="changeToppings($event)"
      [disabled]="isPaying"
    />
  </div>
  <button *ngIf="!isPaying" (click)="payment()">Calculate price</button>
</div>

<div class="todo-form" *ngIf="isPaying">
  <div class="form-group">
    <label for="description">Price:</label>
    <input
      type="number"
      disabled
      [(ngModel)]="finalPrice"
    />
  </div>
  <div class="form-group">
    <label for="description">Paid:</label>
    <input
      type="number"
      disabled
      [(ngModel)]="paid"
    />
  </div>
  <div class="form-group">
    <label for="description">Coins / Bills:</label>
    <app-multi-dropdown
      [options]="paymentOptions"
      [selectedOptions]="paymentChoice"
      (onSelect)="changePayedAmount($event)"
    />
  </div>